<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoini"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoini"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        >


        <activity android:name=".pagerOverview">
        </activity>

        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".location" />
        <activity android:name=".Extreme" />
        <activity android:name=".help" />
        <activity android:name=".Calling" />
        <activity android:name=".siren" />
        <activity android:name=".MainActivity" />
        <service android:name=".MyService" />
    </application>

</manifest>